h1 {
    text-align: center;
    font-weight: bold;
    color:darkblue;
    font-family:'Courier New', Courier, monospace; 
    font-size:xx-large;
}

.inspirational-quotes {
    text-align: center;
    font-weight: bold;
    color:rgb(20, 20, 53);
    font-family:Georgia, 'Times New Roman', Times, serif; 
}

