body {
    background-color:mistyrose;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace; 
}

h2 {
    text-align: center;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace; 
}

.crossedOff {
   text-decoration:line-through;
   color: gray;

}

.complete-btn{
    background-color: green;
}

.completed {
    text-decoration:line-through;
    color:gray;
}